<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.11.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

<context:component-scan base-package="com.capg.inventorymanagementsystem"></context:component-scan>


<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dmds">
<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
<property name="url" value="jdbc:oracle:thin:@DESKTOP-UVLUCQG:1521:xe"/>
<property name="username" value="SHUBHI_TRIVEDI"/>
<property name="password" value="satyam00"/>
</bean>

<bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" id="emf">
<property name="dataSource" ref="dmds"/>
<property name="persistenceProviderClass" value="org.hibernate.jpa.HibernatePersistenceProvider"/>
<property name="packagesToScan" value="com.ims.model"/>
<property name="jpaPropertyMap">
<map>
	<entry key="hibernate.dialect" value="org.hibernate.dialect.Oracle10gDialect"/>
	<entry key="hibernate.hbm2ddl.auto" value="update"/>
	<entry key="hibernate.show_sql" value="true"/>
</map>
</property>
</bean>

<bean class="org.springframework.orm.jpa.JpaTransactionManager" id="tm">
<property name="entityManagerFactory" ref="emf"/>
</bean>


<tx:annotation-driven transaction-manager="tm"/>
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<property name="prefix" value="/WEB-INF/pages/"></property>
<property name="suffix" value=".jsp"></property>
</bean>


</beans>
